*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lora', serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 3%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.header a{
    text-decoration: none;
    color: white
}
p{
    color:black
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 5%;
    padding-right: 5%;
}
.container-2{
    max-width: 1300px;
    margin:auto;
    padding-left: 5%;
    padding-right: 5%;
}
.header{
    background: #97c1a9;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 p{
    font-size: 125%;
}
.col-2 img{
    max-width: 100%;
    padding: 10% 0;
    width:100%;
}
.col-2 h1{
    font-size: 300%;
    line-height: 60px;
    margin: 25px 0;
}
.Background{
    background: radial-gradient(#fff,#cce2cb);
}
.btn{
    display:inline-block;
    background: #00b246;
    color:white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: 0.5s;
}
.btn:hover{
    background-color: transparent;
    border-color: #00b246;
    color: #00b246;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px
}
.col-4{
    flex-basis: 25%;
    padding: 0px 10px 0px 10px;
    min-width: 200px;
    margin-bottom:50px;
    transition: transform 0.5s;
    text-decoration: none;
}
.col-4 img{
    width:100%;
    border:2px solid #888;
}

.Vor-Produkte{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;  
}
.Vor-Produkte::after{
    content: '';
    background: #00b246;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.col-4 h4{
    font-weight:normal;
    text-align:center;
    text-decoration: none;
}
.col-4 p{
    font-size: 14px;
    color: #555;
    text-align:center
}
.col-4:hover{
    transform: translateY(-10px);
}
.Arrow{
    text-align: center;
    margin: 0 auto 0px;
    position:relative;
    line-height: 38px;
    list-style: none;
    text-decoration: none;
}
.brands{
    margin: 0px auto 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width:100%;
    cursor: pointer;
    filter:grayscale(100%);
    transition: 1s;
}
.col-5 img:hover{
    filter:grayscale(0%)
}
.Sponsoren{
    text-align: center;
    margin: 0px auto 0px;
    position:relative;
    line-height: 60px;
}
.Sponsoren::after{
    content: '';
    background: #00b246;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}






.container-3{
	max-width: 1170px;
	margin:auto;
}
.row-2{
	display: flex;
	flex-wrap: wrap;
}
.ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #00b246;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a img{
    width:100%
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.copyright{
    display: inline;
    text-align: bottom;
    color:#bbbb;
    margin-left: 70px;
}


.menu-icon{
    width:30px;
    margin-left:20px;
    display:none;
}



@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow:hidden;
        transition:max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:10px;
}
nav ul l a {
    color:#fff
}
.menu-icon{
    display:block;
    cursor:pointer;

}
}
@media only screen and (max-width:600px){
    .row{
    text-align:center
}
    .col-2, col-3, col-4{
        flex-basis: 100%;
    }